<h2>Book name</h2>
<p>
  Book description
  <br>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, id tenetur illum repellendus, reiciendis expedita consequatur omnis saepe molestias fugit rerum ab dignissimos optio culpa, ad quos aliquam nulla nemo distinctio esse iusto. Corrupti expedita tenetur deleniti sequi, totam quasi magni dolorum dolore blanditiis, temporibus quam cumque maiores quae sapiente magnam corporis? Veritatis voluptatibus ipsa ad culpa aliquid praesentium doloremque earum vero vel temporibus libero qui assumenda, nulla totam iure officia dolore illum sunt at provident doloribus. Consequuntur atque similique quis ipsam odit repudiandae eos asperiores, at voluptate vero. Hic perferendis voluptatibus consequatur unde consequuntur suscipit aliquam harum est quod.
</p>
<app-chapter></app-chapter>
<app-chapter></app-chapter>
<app-chapter></app-chapter>
<app-chapter></app-chapter>
<app-chapter></app-chapter>