<%- include layouts/header.ejs %>
<form class="col-md-4" method="post" action="/customers/add">
  <div class="form-group">
    <label for="exampleInput1">Имя</label>
    <input class="form-control" id="exampleInput1" name="name" type="text" placeholder="Имя" required>
  </div>
  <div class="form-group">
    <label for="exampleInput2">Адресс</label>
    <textarea class="form-control" id="exampleInput2" name="address" rows="3" cols="30" placeholder="Введите Ваш адресс" required></textarea>
  </div>
  <div class="form-group">
    <label for="exampleInput3">Email</label>
    <input class="form-control" id="exampleInput3" name="email" type="email" placeholder="Email" required>
  </div>
  <div class="form-group">
    <label for="exampleInput4">Телефон</label>
    <input class="form-control" id="exampleInput4" name="phone" type="phone" placeholder="Телефон" required>
  </div>
  <button class="btn btn-default" type="submit" name="submit" value="Save">Добавить</button>
  <span class="btn btn-default" onClick="window.location.href = '/customers';">Отмена</span>
</form>
<%- include layouts/footer.ejs %>